html, body {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.pageHead {
    text-align: center;
}

.container {
    width: inherit;
    height: inherit;
    padding: 0;
    margin: 0;
}

section {
    float: left;
    padding: 10px;
    margin: 0 2px;
    width: 20%;
    -webkit-box-shadow: 3px 3px 6px #333;
    -moz-box-shadow: 3px 3px 6px #333;
    box-shadow: 3px 3px 6px #333;
    min-height: 400px;
    color: #fff;
    text-align: center;
    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition:  all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

section:first-of-type{
    margin-left: 5%;
}

section:last-of-type{
    margin-right: 5%;
}

section:hover{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

section h3 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    font-size: 20px;
}

.insert {
    background: #3cba54;
}

.get {
    background: #f4c20d;
}

.update {
    background: #4885ed;
}

.delete {
    background: #db3236;
}

.input label {
    display: block;
    font-weight: bold;
    padding: 2px 0;
}

input,
button {
    font: inherit;
    margin: 10px 0;
}

button {
    margin-top: 10px;
    border: none;
    box-shadow: 1px 1px 1px #34495e;
    border-radius: 0;
    background: #ecf0f1;
    cursor: pointer;
}

button:hover {
    background: #bdc3c7;
}

.item {
    margin: 10px 0;
    padding: 5px;
    background: rgba(50,50,50,0.2);
    border: 1px solid #333;
    -webkit-box-shadow: inset 0px 0px 10px #333;
    -moz-box-shadow: inset 0px 0px 10px #333;
    box-shadow: inset 0px 0px 10px #333;
}